# Dependencies
node_modules

# Build - keeping dist for Hostinger
# dist

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

index.html
